%h1 Batman Raffler

%form.new_entry
  %input#new_entry_name{type: "text", name: "name"}
  %input{type: "submit", value: "Add"}

%ul#entries{'data-partial' => 'entries/_entry'}

%button#draw Draw Winner
