%h1 Batman Raffler

%form.new_entry#new_entry{'data-formfor-entry' => 'entry', 'data-event-submit' => 'create'}
  %input#entry_name{name: "entry[name]", 'data-bind' => "entry.name"}
  %input{type: "submit", value: "Add"}

%ul#entries
  %li{'data-foreach-entry' => 'entries', 'data-partial' => 'entries/_entry', 'data-bind-id' => 'entry.id', class: 'entry'}

%button#draw{'data-event-click' => 'Entry.drawWinner'} Draw Winner
