<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shopify Classifieds</title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>

</head>
<body>

  <div id="main" class="container">
    <p data-showif="Classifieds.flash.success.length" id="flashnotice" class="alert-message success"><a class="close" href="#" onclick="$('#flashnotice').hide(); return false">×</a><span data-bind="Classifieds.flash.success"></span></p>
    <p data-showif="Classifieds.flash.error.length" id="flashwarning" class="alert-message error"><a class="close" href="#" onclick="$('#flashwarning').hide(); return false">×</a><span data-bind="Classifieds.flash.error"></span></p>
    <div data-yield="main"></div>
  </div>

</body>
</html>
